@use "@/app/utils" as *;

.post-form {
  width: 100%;
  border: 1px solid $defaultInputBorder;
  border-radius: $defaultRadius;
  padding: 1rem 1.5rem;
  background-color: $defaultWhite;

  &__textarea {
    width: inherit;
    min-height: 10rem;

    @include inputStyle();
  }

  &__button {
    padding: 0.3rem 0.5rem;
    background-color: $defaultWhite;
    border: 1px solid $defaultInputBorder;
    border-radius: $defaultRadius;
    outline: none;
    cursor: pointer;
  }

  &__input-header {
    width: 100%;

    @include inputStyle(0.2rem, 0.5rem);
    height: 2rem;
  }
}

.post-form__button-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.post {
  margin-top: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem;
  width: 100%;
  border: 1px solid $defaultInputBorder;
  border-radius: $defaultRadius;
  background-color: $defaultWhite;

  &__profile {

  }

  &__name {
    font-size: 0.9rem;
  }

  &__desc {
    font-size: 0.8rem;
    color: #636466;
    margin-bottom: 0.2rem;
  }

  &__content {

  }

  &__header {
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
  }

  &__body {
    margin-top: 0.3rem;
    font-size: 0.9rem;
  }
}
.post__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.post__like {
  margin-right: 0.8rem;
  cursor: pointer;
  width: fit-content;
}

.posts__bar {
  width: 100%;
  margin-bottom: 1rem;
  height: 1rem;
  touch-action: none;
}
