@use "@/app/utils" as *;

.container {
  margin: 20% auto 0;
  max-width: 400px;
}

.form {
  margin: 20% auto 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 1rem;
}

.input {
  @include inputBorderStyle();

  font-size: 1.2rem;
  border-radius: 4px;
  height: 36px;
}

.error {
  color: red;
}

.button {
  @include inputBasicButtonStyle();
}
