$backgroundColor: #F1F2F2;
$activeColor: #EEEEEE;
$buttonFocusColor: #2e69ff;
$defaultInputBorder: #dee0e1;
$defaultWhite: #FEFEFE;
$defaultRadius: 8px;
$defaultTextareaBackgroundColor: #FBFBFC;

@mixin inputBorderStyle($color: $defaultInputBorder) {
  border: 1px solid $color;
  outline: none;
}

@mixin inputBasicButtonStyle($color: $buttonFocusColor) {
  width: 100%;
  margin-top: 1.5rem;
  border: 1px solid #dee0e1;
  outline: none;
  height: 48px;
  border-radius: 8px;
  color: white;
  padding: 8px 2px;
  font-size: 1rem;
  background-color: #387ADF;
  cursor: pointer;

  &:focus {
    border-color: $buttonFocusColor;
  }
}

@mixin inputStyle($paddingTb: 0.5rem, $paddingRl: 0.5rem) {
  padding: $paddingTb $paddingRl;
  outline: none;
  resize: none;
  border: 1px solid $defaultInputBorder;
  border-radius: 8px;
  background-color: $defaultTextareaBackgroundColor;

  word-break: break-all;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  &::placeholder {
    color: #CCCCCC;
  }
}
