@use "utils" as *;

.container {
  margin: 20% auto 0;
  max-width: 400px;
}

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 1rem;
}

.input {
  @include inputBorderStyle();

  font-size: 1.2rem;
  border-radius: 4px;
  height: 36px;
}

.signin__button {
  @include inputBasicButtonStyle();

}

.signup {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;

  .form {
    background-color: #FEFEFE;
  }
}

.signup__button {
  @include inputBasicButtonStyle();

  margin-top: 0;
  color: #0033CC;
  background-color: #FEFEFE;
}
